<div class="table-container container-fluid">
  <div class="mt-2">
    <div class="d-flex justify-content-between">
      <h4 class="fw-bold">Lista de Libros</h4>
      <button type="button" class="btn btn-primary" (click)="accion(0, '')">Nuevo libro</button>
    </div>
  </div>
  <hr>
  <mat-form-field style="width: 40%;">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
  </mat-form-field>
  <table mat-table [dataSource]="libroData" matSort class="mat-elevation-z8">

    <!-- idLibro -->
    <ng-container matColumnDef="idLibro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Libro </th>
      <td mat-cell *matCellDef="let row"> {{ row.idLibro }} </td>
    </ng-container>

    <!-- Título -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
      <td mat-cell *matCellDef="let row"> {{ row.titulo }} </td>
    </ng-container>

    <!-- Autor -->
    <ng-container matColumnDef="idAutor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Autor </th>
      <td mat-cell *matCellDef="let row"> {{ row.idAutor }} </td>
    </ng-container>

    <!-- ISBN -->
    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ISBN </th>
      <td mat-cell *matCellDef="let row"> {{ row.isbn }} </td>
    </ng-container>

    <!-- Fecha Publicación -->
    <ng-container matColumnDef="fechaPublicacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Publicación </th>
      <td mat-cell *matCellDef="let row"> {{ row.fechaPublicacion | date: 'shortDate' }} </td>
    </ng-container>

    <!-- Estado -->
    <ng-container matColumnDef="idEstado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Estado </th>
      <td mat-cell *matCellDef="let row"> {{ row.idEstado }} </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="accion(row.idLibro, 'editar')">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="accion(row.idLibro, 'eliminar')">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>