<h1 class="m-2 fw-bold">Registrar Autor</h1>
<hr>
<form [formGroup]="this.autorComunicaion.autorForm" (ngSubmit)="onSubmit()" class="m-4">
    <mat-form-field appearance="fill" class="w-full p-2">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
      <mat-error *ngIf="autorComunicaion.autorForm.get('nombre')?.hasError('required')">El nombre es obligatorio</mat-error>
      <mat-error *ngIf="autorComunicaion.autorForm.get('nombre')?.hasError('maxlength')">Máximo 100 caracteres</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full p-2">
      <mat-label>Nacionalidad</mat-label>
      <input matInput formControlName="nacionalidad"/>
      <mat-error *ngIf="autorComunicaion.autorForm.get('nacionalidad')?.hasError('required')">El nacionalidad es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha Nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="autorComunicaion.autorForm.get('fechaNacimiento')?.hasError('required')">La fechaNacimiento es obligatoria</mat-error>
    </mat-form-field>

<div class="text-center">
    <button mat-raised-button color="primary" class="mt-4" [disabled]="autorComunicaion.autorForm.invalid">
      <mat-icon>save</mat-icon>
      Guardar
    </button>
  </div>
  </form>